[mysqld]
#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock
#user=mysql

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Replication Master Slave
#server-id=2
#binlog_format=mixed

# Configure des bin log pour le server maitre
# log-bin=/var/lib/mysql/binlog/primary-log-bin

## Configuration des fichiers relais pour la partie slave
#relay-log=/var/lib/mysql/binlog/slave-log-bin
#relay-log-index=/var/lib/mysql/binlog/slave-log.index
#log-slave-updates = 1
#read-only = 1

expire_logs_days=15

#skip-slave-start

[mysqld_safe]
log-error=/var/log/mariadb.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
port=3306
socket=/var/lib/mysql/mysql.sock
